/Iterator/JavaApplication4/nbproject/private/
/Iterator/iterator/nbproject/private/
/Strategy/Strategy/nbproject/private/
/Strategy/iterator/nbproject/private/
/Chain of responsibility/Strategy/nbproject/private/
/Chain of responsibility/Chain of responsability/nbproject/private/
